%table.table
  %thead
    %tr
      %th タイトル
      %th 詳細
      %th 放映日時
      %th 時間
  %tbody
    -@programs.each do |program|
      %tr
        %td= link_to program.title, program
        %td= program.detail
        %td= program.started_at.to_formatted_s(:long)
        %td= program.duration
