:javascript
  key.setScope('list');

=paginate @programs
%table.table#programs
  %tbody
    -@programs.each do |program|
      %tr
        %td
          %p.date
            = program.started_at.to_formatted_s(:long)
            (
            = program.duration_s
            )

          %p
            =link_to program.title, program
            %span.dl-link.visible-desktop
              = link_to "\u{21F2}", download_program_path(program), :'data-no-turbolink' => true
        %td.hidden-phone= program.detail

=paginate @programs
