#shortcut-help.modal.hidden
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
      &times;
    %h3 Keyboard Shortcuts
    %h4 List view
    %dl
      %dt
        %span /
      %dd focus on search field
    %h4 Theater view
    %dl
      %dt
        %span u
      %dd back to program list
      
      %dt
        %span
          &lt;space&gt;
      %dd play / pause

      %dt
        %span
          \=
        \/
        %span
          \-
      %dd accelerate / decelerate

      %dt
        %span
          j
        \/
        %span
          k
      %dd skip / rewind (<span>5 sec</span>)
    
      %dt
        %span
          &lt;ctrl&gt;
        +
        %span
          j
        \/
        %span
          &lt;ctrl&gt;
        +
        %span
          k
      %dd skip / rewind (<span>30 sec</span>)

      %dt
        %span
          l
        \/
        %span
          h
      %dd skip / rewind (<span>1 min</span>)

      %dt
        %span
          &lt;ctrl&gt;
        +
        %span
          l
        \/
        %span
          &lt;ctrl&gt;
        +
        %span
          h
      %dd skip / rewind (<span>5 min</span>)

      %dt
        %span ?
      %dd
        toggle shortcut help (this)
