#category-container
  background-color: #eee
  padding: 5px
  ul
    margin: 0 10px
    display: inline-block
    li
      display: inline-block
    li.descendant-category:before
      content: '> '
#program-detail
  background-color: #eee
  dt
    background-color: #eee
    padding-right: 20px
  dd
    color: 666
    background-color: #fff
    padding-right: 20px
video
  width: 100%
#container
  padding: 0
#info-bar
  background-color: #fff
#movie-container
  margin: 0

#rate-controller
  text-align: right
  color: #ccc

#rate-slider
  width: 200px
  display: inline-block
  margin-right: 10px
  
#program_filter_keyword
  margin: 5px 0 0 5px
